@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autcomplete styles  */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgb(243 244 246) inset;
    box-shadow: inset 0 0 0 1px rgb(243 244 246), inset 0 0 0 100px rgb(243 244 246);
  }

  /* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(243 244 246) inset;;
  box-shadow: inset 0 0 0 1px rgb(243 244 246), inset 0 0 0 100px rgb(243 244 246);
}

.ce-paragraph {
display: block;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0;
margin-right: 0;
}

h1.ce-header {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2.ce-header {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3.ce-header {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4.ce-header {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5.ce-header {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6.ce-header {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.cdx-quote__text {
  color: grey;
  font-style: italic;
}

.ce-delimiter::before {
  content: "" !important;
  height: 1px !important;
  background-color: gray;
  width: 90%;
  margin-left: 20px;
}

.cdx-simple-image__caption {
  color: rgb(66, 66, 66);
  font-style: italic;

}

.codex-editor__redactor{
  padding-bottom: 50px !important;
}

.ce-block__content {
  max-width: 87%;
}

.ce-toolbar__content {
  max-width: 87%;
} 
